<h1>Hello, world!</h1>
Welcome to your new app.
<br />
<br />
You have counted to @CountValue.
<br />
<br />
<NavLink href="counter/1234">Counter from 1234</NavLink>
<br />
<NavLink href="counter/multi/1/2/saleh">Counter with multiple parameter [/multi/1/2/saleh]</NavLink>
<br />
<br />
<NavLink href="404-test">non-existance page [404-test]</NavLink>
<br />
<br />
<NavLink href="hahahaha/test">route */test</NavLink>
<br />
<NavLink href="start/test2/end">route {prefix}/test2/{postfix}</NavLink>
<br />
<br />
<NavLink href="nested-route/1">nested route example [/1]</NavLink>
<br />
<NavLink href="nested-route/5/hello">nested route example [/5/hello]</NavLink>
<br />
<NavLink href="nested-route/10/world">nested route example [/10/world]</NavLink>
<br />
<NavLink href="nested-route/22/404-test">non-existance page [/22/404-test]</NavLink>
<br />
<br />
<NavLink href="nested-route/nested-2/113">nested-nested route example [/nested-2/113]</NavLink>
<br />
<NavLink href="nested-route/nested-2/33/404-test">non-existance nested-nested route [/nested-2/33/404-test]</NavLink>
<br />
<br />
<NavLink href="g1">Guarded route [/g1] by (DateTime.Now.Second % 2 == 0)</NavLink>
<br />
<NavLink href="g2">Guarded route [/g2] by (DateTime.Now.Minute % 2 == 0)</NavLink>
<br />
<br />
<a href="nested">Let's go nested!</a>


@code {
    [Parameter] public int CountValue { get; set; }
}