<h1>Nested route: /nested</h1>

<p>lets test some nested routes</p>

<button @onclick="() => count++">Count: [@count]</button>

<hr />

<a href="/nested/n1/@count">"/nested/n1/@count"</a>

<hr />

<Route Template="n1/{count:int}">
    <Content>
        <h3>this is the nested route /n1</h3>
        <div>count: [@context["count"]]</div>
    </Content>
</Route>

@code {
    private int count;
}